<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>
</head>
<body>
    <h1>게시글 등록</h1>
    <form action="/board" method="post">
        <input type="text" name="title" placeholder="제목"> <br>
        <input type="text" name="writer" placeholder="작성자"> <br>
        <input type="text" name="content" placeholder="내용"> <br>
        <input type="submit" value="등록">
    </form>
</body>
</html>