<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 읽기</title>
</head>
<body>
    <h1>게시글 읽기</h1>
    <table border="1">
        <tr>
            <td>제목</td>
            <td>{{ board.title }}</td>
        </tr>
        <tr>
            <td>작성자</td>
            <td>{{ board.writer }}</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>{{ board.content }}</td>
        </tr>
    </table>
    <a href="/board/update/{{id}}">수정</a>
    
</body>
</html>