{% extends '../layout.njk' %}

{% block content %}
  <div class="container-lg">
    <h1>게시글 등록</h1>
    <form action="/board" method="post">
      <table class="table form-group" border="1">
        <tr>
          <th width="200">Title</th>
          <td>
            <input type="text" name="title">
          </td>
        </tr>
        <tr>
          <th width="200">Writer</th>
          <td>
            <input type="text" name="writer">
          </td>
        </tr>
        <tr>
          <th width="200">Content</th>
          <td>
            <input type="text" name="content">
          </td>
        </tr>
      </table>

      <div class="btn-box">
        <a class="btn" href="/board">목록</a>
        <button class="btn" type="submit">등록</button>
      </div>
    </form>
  </div>
{% endblock %}
