* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
  
body {
    font-family: Arial, sans-serif;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
  text-align: center;
  height: 80px;
}

header h1 {
  margin: 0;
}

header nav {
  height: 100%;
}

header nav ul {
  height: 100%;
}

header nav li {
  display: inline-block;
  height: 100%;
}

header nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  min-width: 100px;
  height: 100%;
}

header nav a:hover {
  background-color: #fff;
  color: #333;
}


/* footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}


.container {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 100px auto;
}

.container-md {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 480px;
  margin: 100px auto;
}

.container-lg {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 1024px;
  margin: 100px auto;
}

.container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input,
.form-group .btn {
  display: inline-block;
  font-size: 14px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group .btn {
  text-align: center;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.form-group .btn:hover {
  background-color: #45a049;
}


/* table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #f5f5f5;
}


/* button */
.btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  padding: 8px 18px;
  box-sizing: border-box;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-box .btn {
  margin: 0 5px;
}
